/*Header*/
#header_outer{
	/*background:#e6e6e6;*/
	/*background: linear-gradient(to bottom, #ff5050 0%, #ffcccc 100%);*/
	background: linear-gradient(to bottom, #77c9d4 40%, #57bc90 100%);
	padding:20px 0px;
}
.header_section{
	position: relative;
}
.logo{
	float:left;
}
.res-nav_click{
	display:none;
}
/*Navigation*/
.nav{
	float:right;
}
.nav ul{
	list-style: none;
	padding: 0px;
}
.nav ul.toggle{
	display: none;
	visibility: hidden;
	height: 0px;
	overflow: hidden;
	margin-bottom: 0;
}
.nav ul li{
	display: inline-block;
	margin: 0 23px;
}
.nav ul li:first child{

}
.nav ul li:last child{
	margin: 0 0 0 23px;
}
.nav ul li a{
	display: block;
	font-size: 16px;
	color: #015249;
	font-family: sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
}
.nav ul li a:hover{
	color:#E8E8E8;
}
img{ max-width:100%;}
a, a:hover, a:active{ outline:0px !important}
/*Body style*/ 
body{
	background:#fff;
	font-family: 'Lato', sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#888888;
	margin:0;
}
h2{
	font-size:38px;
	color: #015249;	
	font-family:'Dosis';
	font-weight:700;
	margin:35px 0 25px 0;
	text-align:center;
	text-transform:uppercase;
}
h3{
	font-family: 'Verdana', sans-serif;
	font-weight: 600;
	color:#222222;
	font-size:16px;
	margin:0 0 5px 0;
	text-transform:uppercase;
}
h6{
	/*one liner pero kasing laki ng p*/
	font-size:16px;
	color:#888888;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-align:center;
	margin:0 0 60px 0;
}
p{
	line-height:24px;
	margin:0;
}
/*Top content*/
.top_cont_outer{
	position:relative;
}
/*Services*/
#service{
	padding:83px 0px;
}
.service_area{
	padding:40px 0 40px;
}
.service_block{
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
/*Contact*/
.main-section.contact{
	padding: 90px 0 100px;
}
.contact_section{
	margin:0 0 60px 0;
}
.contact_section h2{
	font-size: 40px;
	color:#ffffff;
	margin:0 0 50px 0;
	text-transform: uppercase;
}
.contact_block{
	text-align: center;
}
.contact_block_icon{
	border-radius: 50%;
	height: 85px;
	width: 85px;
	margin: 0px auto 20px;
}
.contact_block_icon span {
    background: none repeat scroll 0 0 #015249;
    border: 5px solid #fff;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}	
.contact_block_icon.icon2{
	border-color:#015249;
}
.contact_block_icon.icon2 span{
	background:#015249;
}
.contact_block_icon.icon3{
	border-color:#015249;
}
.contact_block_icon.icon3 span{
	background:#015249;
}
.contact_block_icon i {
    color: #fff;
    font-size: 35px;
    margin-top: 0;
    position: relative;
    top: 20px;
    z-index: 20;
}
.contact_block span{
	display:block;
	font-size:16px;
	color:#ffffff;
	line-height:20px;
}	
.contact_block span a{
	display:block;
	font-size:16px;
	color:#ffffff;
	line-height:20px;
}
.contact-info-box{
	font-size:15px;
	margin:0 0 14px 68px;
	padding-left:0;
	
}
.contact-info-box h3{
	font-size: 24px;
	font-weight:600;
	margin:0 0 40px;
	color:#fff;
}
.contact-info-box p{
	line-height:28px;
	display:block;
	font-size:16px;
	color:#ffffff;
	margin:0 0 40px;
}
/*.social-link{
	padding:35px 0;
	margin:0 0 0 68px;
	display:block;
	overflow:hidden;
	list-style:none;
}
.social-link li{
	float:left;
	margin-right:8px;
	
}
.social-link li a{
	display:block;
	width:55px;
	height:55px;
	border:3px solid #fff;
	border-radius:50%;
	text-align:center;
	line-height:48px;
	font-size:25px;
	color:#fff;
	background:#222222;
	border-radius:50%;
	transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
	text-decoration:none;
}
.twitter a:hover {
	background: #55acee;
}
.facebook a:hover {
	background: #3b5998;
}*/
.form{
	margin:0 66px 0 30px;
}
.input-text{
	padding:15px 16px;
	border:1px solid #ccc;
	width:100%;
	height:50px;
	display:block;
	border-radius:4px;
	font-size:15px;
	color:#aaa;
	font-family: 'Lato', sans-serif;
	margin:0 0 15px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
	border: 1px solid #7cc576;
	outline:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);	
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}
.input-text.text-area{
	height:230px;
	resize:none;
	overflow:auto;
	font-family: 'Lato', sans-serif;
}
.input-btn{
	font-family: 'Dosis', sans-serif;
	width:175px;
	height:50px;
	letter-spacing: 0px;
	background:#015249;
	border-radius:3px;
	color:#ffffff;
	font-size:16px;
	text-transform:uppercase;
	font-weight:600;
	border:0px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.input-btn:hover{
	background: #fff;
	color: #222;
}
/*Footer*/
.footer_section{
	background:url(assets/images/pattern_bg.jpg) repeat left top;
}
.footer_bottom{
	border-top:1px solid #333333;
	padding:40px 0;
}	
.footer_bottom span{
	display:block;
	font-size:14px;
	color:#cccccc;
	text-align:center;
}
